<div class="row" ng-controller="CronogramaSSTCtrl">
    <div class="row"  ng-show="!ficha">
        <div class="col-xs-12" style="margin-bottom: 50px;">
            <div class="col-xs-1" ng-show="Sedes.length > 1">
                <label>
                    Sede
                </label>
            </div>
            <div class="col-xs-2" style="text-align: right" ng-show="Sedes.length > 1">
                <select class="form-control" ng-model="SedeId" ng-change="ChangeSede()" name="Servicio" required>
                    <option>--</option>
                    <option ng-repeat="s in Sedes track by $index" ng-selected="s.SedeId === SedeId" ng-value='{{s.SedeId}}' value='{{s.SedeId}}'> {{s.Nombre}}</option>
                </select>
            </div>
            <div class="col-xs-1">
                <label>
                    Servicio
                </label>
            </div>
            <div class="col-xs-3" style="text-align: right">
                <select class="form-control" ng-model="ServicioId" ng-change="BuscarHojaVidas()" name="Servicio" required>
                    <option value="">--</option>
                    <option value="TODO" ng-selected="ServicioId == 'TODO'">TODO</option>
                    <option ng-repeat="s in Servicios track by $index" ng-selected="s.ServicioId === ServicioId" ng-value='{{s.ServicioId}}' value='{{s.ServicioId}}'> {{s.Nombre}}</option>
                </select>
            </div>
            <div class="col-xs-2 pull-left" style="text-align: right">
                <button class="btn btn-primary" ng-click="GenerarExcel()">Generar Excel <i class="fa fa-file-excel-o "/></button>
            </div>
        </div>
    </div>
    <div class="row" ng-show="!ficha">
        <div class="col-xs-12" ng-if="cargado">
            <table id="Equipos" ui-jq="dataTable" ui-options="simpleTableOptions" class="table table-hover table-condensed table-striped table-bordered">
                <thead class="bordered-blueberry">
                    <tr>
                        <th class="text-center" style="width: 3%">N°</th>
                        <th class="text-center" style="width: 7%">Ubicación</th>
                        <th class="text-center" style="width: 5%">Servicio/Area</th>
                        <th class="text-center" style="width: 7%">Sector</th>
                        <th class="text-center" style="width: 7%">Clase Extintor</th>
                        <th class="text-center" style="width: 10%">Fecha Recarga</th>
                        <th class="text-center" style="width: 10%">Fecha Vencimiento</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="ServicioModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm-11">
                        <h2 class="modal-title">Consultar Listado de reportes</h2>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <form role="form" name="c" novalidate>
                        <div class="col-sm-12">
                            <label>
                                Sede
                            </label>
                            <select class="form-control" ng-model="SedeId" name="SedeId" required ng-change="ChangeSede()">
                                <option ng-repeat="s in Sedes track by $index" ng-selected="SedeId === s.SedeId" ng-value='{{s.SedeId}}' value='{{s.SedeId}}'> {{s.Nombre}}</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label>
                                Servicio
                            </label>
                            <select class="form-control" ng-model="ServicioId" name="ServicioId" required>
                                <option value="0">Todos los Servicios</option>
                                <option ng-repeat="s in Servicios track by $index" ng-selected="ServicioId === s.ServicioId" ng-value='{{s.ServicioId}}' value='{{s.ServicioId}}'> {{s.Nombre}}</option>
                            </select>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <div class="text-center col-sm-12" style="margin-top: 25px;">
                        <a class="btn btn-success" ng-href="/Polivalente#/sistemas/ver_hoja_vida/{{ServicioId}}/" target="_blank" ng-disabled="c.$invalid">Vista Impresion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
