<div class="col-sm-12 mb-4" ng-controller="BPCtrl">
  <div class="row">
    <div class="col-sm-4">
      <div>
        <label for="PacienteToAdd">N° Admision (ultimos digitos)</label>
        <div angucomplete-alt id="admision_input"
          placeholder="No Admisión"
          maxlength="100"
          pause="100"
          selected-object="LoadPaciente"
          remote-url="/Polivalente/api/hd/HD.php?NOADMISION="
          title-field="NOADMISION"
          description-field="NOMBREAFI"
          minlength="2"
          input-class="form-control form-control-small"
          match-class="highlight"></div>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" style="transform: translate(0px, 28px)" ng-show="PacienteNA" ng-click="AddPacientes()">Añadir Paciente</button>
    </div>
    <div class="col-sm-12" ng-show="PacienteNA">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="3">
              Paciente para incluir en la H.D.
            </th>
          </tr>
          <tr>
            <th>
              Cama<br />
              No. admisión
            </th>
            <th>
              Documento <br />
              Nombre del paciente (EDAD)
            </th>
            <th>
              Fecha<br />
              EPS
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{PacienteNA.habcama}}<br />
              {{PacienteNA.NOADMISION}}
            </td>
            <td>
              {{PacienteNA.IDAFILIADO}}<br />
              {{PacienteNA.NOMBREAFI}} ({{ PacienteNA.EDAD }})
            </td>
            <td>
              {{PacienteNA.FECHA.date}}<br />
              {{PacienteNA.RAZONSOCIAL}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 mt-3" ng-show="HD.Detalles.length > 0">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              Seleccione que pacientes <br />
              se incluiran en la H.D.
            </th>
            <th>
              Cama<br />
              No. admisión
            </th>
            <th>
              Documento <br />
              Nombre del paciente (EDAD)
            </th>
            <th>
              Fecha<br />
              EPS
            </th>
            <th>{{HD.Distribucion}}</th>
            <th colspan="3">Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in HD.Detalles track by p.NOADMISION">
            <td>
              <div class="form-check text-center">
                <input class="form-check-input" ng-checked="p.Seleccionado" ng-click="p.Seleccionado = p.Seleccionado ? false : true"
                style="width: 20px;height: 20px;" type="checkbox">
              </div>
            </td>
            <td>
              {{p.habcama}}<br />
              {{p.NOADMISION}}
            </td>
            <td>
              {{p.IDAFILIADO}}<br />
              {{p.NOMBREAFI}} ({{ p.EDAD }})
            </td>
            <td>
              {{p.FECHA.date}}<br />
              {{p.RAZONSOCIAL}}
            </td>
            <td>
              <select class="form-control" ng-model="p.TipoId" 
                style="height: 35.59px !important;">
                <option value="">--</option>
                <option ng-repeat="o in Variables" ng-value="'{{o.VariableId}}'">{{o.Abrv}}</option>
              </select>
            </td>
            <td colspan="3">
              <textarea maxlength="100" ng-maxlength="100" ng-model="p.Observacion" placeholder="Observacion"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>