<div class="row" style="background: white">
    <div class="col-sm-12">
        <div class="panel panel-primary" ng-controller="VerReporteServicioBIOMEDICOCtrl" id="myElementId">
            <div class="panel-heading default-primary-color">
                <h2 class="text-primary-color">Reporte Servicio</h2>
                <div  class="ibox-tools">
                    <div class="input-group m-b">
                        <span class="input-group-prepend">
                            <button class="btn btn-primary" ng-click="GetReporteById()" type="button"><i class="fa fa-search"></i></button>
                        </span>
                        <input type="text" ng-model="ReporteId" ng-pattern="onlyNumbers" ng-change="Reset()" ng-enter="GetReporteById()" 
                               style="color: black !important;" class="form-control" placeholder="Busqueda rapida">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="col-sm-10 col-sm-offset-1">
                    <form role="form" name="Datos" novalidate id="configform">
                        <div class="row">
                            <div class="col-sm-4">
                                <img ng-src="{{Empresa.Logo}}" width="200" alt="">
                            </div>
                            <div class="col-sm-4 text-center"  bind-html-compile="Encabezado.EncabezadoReporte">
                            </div>
                            <div class="col-sm-4 text-right">
                                <h5 style="margin-right: 1px"><strong>NUMERO DE REPORTE</strong></h5>
                                <input style="font-size: 1.5em; width: 180px; float: right;margin-right: 1px" readonly type="text" ng-model="NumeroReporte" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="row" colspan="7" class="text-center cajaTitulo">INFORMACION GENERAL DE LA INSTALACION</th>
                                        </tr>
                                        <tr>
                                            <td>SEDE</td>
                                            <td colspan="4">
                                                <select class="form-control" ng-model="reporte.SedeId" name="SedeId"  ng-change="ChangeServicios()"
                                                        style="height: 25px;padding-top: 0px;padding-bottom: 0px;"
                                                        ng-class="{ 'has-error': Datos.reporte.SedeId.$invalid && !Datos.reporte.SedeId.$pristine }" disabled>
                                                    <option selected="">--</option>
                                                    <option ng-repeat="s in Sedes track by $index" ng-selected="reporte.SedeId == s.SedeId" ng-value='{{s.SedeId}}' value='{{s.SedeId}}'> {{s.Nombre}}</option>
                                                </select>
                                            </td>

                                            <td>FECHA</td>
                                            <td>
                                                <input readonly type="text" readonly ng-model="reporte.Fecha" onfocus="(this.type = 'date')" onblur="(this.type = 'text')" class="form-control" style="height: 20px">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>SERVICO</td>
                                            <td colspan="4">
                                                <div ng-class="{'has-success': Datos.ServicioId.$valid, 'has-error': Datos.ServicioId.$invalid || reporte.ServicioId == '--'}">
                                                    <select disabled class="form-control" ng-model="reporte.ServicioId" name="ServicioId" ng-change="ChangeEquipos()" required
                                                            style="height: 25px;padding-top: 0px;padding-bottom: 0px;">
                                                        <option selected="">--</option>
                                                        <option ng-repeat="s in Servicios track by $index"   ng-selected="reporte.ServicioId == s.ServicioId" ng-value='{{s.ServicioId}}' value='{{s.ServicioId}}'> {{s.Nombre}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>SOLICITANTE</td>
                                            <td>
                                                <div ng-class="{'has-success': r, 'has-error': r == '--'}">
                                                    <select disabled class="form-control" ng-model="r" name="Recibe" ng-change="Recibe(r)" required ng-init="r = '--'"
                                                            style="height: 25px;padding-top: 0px;padding-bottom: 0px;">
                                                        <option>--</option>
                                                        <option ng-repeat="u in Usuarios track by $index" ng-selected="u.NombreCompleto === reporte.RecibeNombre" ng-value='{{$index}}' value='{{$index}}'> {{u.NombreCompleto}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>UBICACION</td>
                                            <td colspan="4">
                                                <div ng-class="{'has-success': Datos.Ubicacion.$valid, 'has-error': Datos.Ubicacion.$invalid}">
                                                    <input readonly type="text" name="Ubicacion" ng-model="reporte.Ubicacion" class="form-control caja_texto" maxlength="199" capitalize required
                                                           >
                                                </div>
                                            </td>
                                            <td>RESPONSABLE</td>
                                            <td>
                                                <div ng-class="{'has-success': Datos.Responsable.$valid, 'has-error': Datos.Responsable.$invalid}">
                                                    <input readonly type="text" name="Responsable" ng-model="reporte.Responsable" maxlength="199" class="form-control caja_texto" capitalize required
                                                           >
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="7" class="text-center cajaTitulo">TIPO DE SERVICIO</th>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 !important;width: 180px">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="font-size: 0.8em; transform: translate(0px,10px)">PREVENTIVO</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="reporte.TipoServicio == 'PREVENTIVO'" ng-click="reporte.TipoServicio = 'PREVENTIVO'" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="padding: 0 !important">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="font-size: 0.8em; transform: translate(0px,10px)">CORRECTIVO</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="reporte.TipoServicio == 'CORRECTIVO'" ng-click="reporte.TipoServicio = 'CORRECTIVO'" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2" style="padding: 0 !important">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="font-size: 0.8em; transform: translate(0px,10px)">INSTALACION</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="reporte.TipoServicio == 'INSTALACION'" ng-click="reporte.TipoServicio = 'INSTALACION'" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="padding: 0 !important">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="font-size: 0.8em; transform: translate(0px,10px)">GARANTIA</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="reporte.TipoServicio == 'GARANTIA'" ng-click="reporte.TipoServicio = 'GARANTIA'" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2" style="padding: 0 !important">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="font-size: 0.8em; transform: translate(0px,10px)">LLAMADO DE EMERGENCIA</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="reporte.TipoServicio == 'LLAMADO DE EMERGENCIA'" ng-click="reporte.TipoServicio = 'LLAMADO DE EMERGENCIA'" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="7" class="text-center cajaTitulo">INFORMACION DEL EQUIPO</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                EQUIPO
                                            </td>
                                            <td colspan="3">
                                                <div ng-class="{'has-success': reporte.EquipoId, 'has-error': reporte.EquipoId == '--'}">
                                                    <select disabled class="form-control" ng-model="sol" name="EquipoId" ng-change="ChangeEquipo(sol)" required>
                                                        <option>--</option>
                                                        <option ng-repeat="e in Equipos track by $index" ng-selected="e.HojaVidaId === reporte.EquipoId" ng-value='{{$index}}' value='{{$index}}'>{{e.Serie}} - {{e.Equipo}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                MARCA
                                            </td>
                                            <td colspan="3">
                                                <input type="text" ng-model="reporte.Marca" readonly class="form-control caja_texto">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                MODELO
                                            </td>
                                            <td>
                                                <input type="text" ng-model="reporte.Modelo" readonly class="form-control caja_texto">
                                            </td>
                                            <td>
                                                SERIE
                                            </td>
                                            <td colspan="2">
                                                <input type="text" ng-model="reporte.Serie" readonly class="form-control caja_texto">
                                            </td>
                                            <td>
                                                N° INVENTARIO
                                            </td>
                                            <td>
                                                <input type="text" ng-model="reporte.Inventario" readonly class="form-control caja_texto">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="7" class="text-center cajaTitulo">FALLA REPORTADA POR EL SERVICIO</th>
                                        </tr>
                                        <tr>
                                            <td colspan="9">
                                                <div ng-class="{'has-success': Datos.FallaReportada.$valid, 'has-error': Datos.FallaReportada.$invalid}">
                                                    <textarea readonly class="form-control" name="FallaReportada" rows="1" ng-model="reporte.FallaReportada" name="FallaReportada" maxlength="200" required></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="7" class="text-center cajaTitulo">FALLAS DETECTADAS</th>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 !important;">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="transform: translate(0px,10px)">MAL USO</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="isInArray(reporte.FallaDetectada, 'MAL USO')" ng-click="AddFallas('MAL USO'); Otro = false" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="padding: 0 !important;">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="transform: translate(0px,10px)">ACCESORIOS</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="isInArray(reporte.FallaDetectada, 'ACCESORIOS')" ng-click="AddFallas('ACCESORIOS'); Otro = false" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="padding: 0 !important;width: 200px">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="transform: translate(0px,10px)">DESGASTE</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="isInArray(reporte.FallaDetectada, 'DESGASTE')" ng-click="AddFallas('DESGASTE'); Otro = false" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="padding: 0 !important;">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="transform: translate(0px,10px)">SIN FALLA</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="isInArray(reporte.FallaDetectada, 'SIN FALLA')" ng-click="AddFallas('SIN FALLA'); Otro = false"
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="padding: 0 !important;">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="transform: translate(0px,10px)">OTRO</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="isInArray(reporte.FallaDetectada, 'OTRO')" ng-click="AddFallas('OTRO'); Otro = false"
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <!--                                    <td colspan="3" style="padding: 0 !important;">
                                                                                    <input ng-hide="!Otro" type="text" ng-model="FallaDetectada" class="form-control"  ng-focus="AddFallas(FallaDetectada)" ng-blur="AddFallas(FallaDetectada)">
                                                                                </td>-->
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="7" class="text-center cajaTitulo">PROCEDIMIENTO REALIZADO</th>
                                        </tr>
                                        <tr>
                                            <td colspan="9">
                                                <div ng-class="{'has-success': Datos.ProcedimientoRealizado.$valid, 'has-error': Datos.ProcedimientoRealizado.$invalid}">
                                                    <textarea readonly name="ProcedimientoRealizado" class="form-control" rows="6" ng-model="reporte.ProcedimientoRealizado"  maxlength="600" name="ProcedimientoRealizado" required></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="7" class="text-center cajaTitulo">MEDIDAS APLICADAS</th>
                                        </tr>
                                        <tr>
                                            <td colspan="9" style="padding: 0 !important">
                                                <div class="row">
                                                    <div class="col-sm-2" style="border-right: 1px solid #ddd;">
                                                        <div class="form-group">
                                                            <label class="text-uppercase" style="font-size: 0.7em;transform: translate(0px,10px)">PR. FUNCIONAMIENTO</label>
                                                            <div class="form-check  float-right">
                                                                <input disabled class="form-check-input" ng-checked="isInArray(reporte.MedidasAplicadas, 'PR. FUNCIONAMIENTO')" ng-click="AddMedidas('PR. FUNCIONAMIENTO')" 
                                                                       style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2" style="border-right: 1px solid #ddd;">
                                                        <div class="form-group">
                                                            <label class="text-uppercase" style="font-size: 0.7em;transform: translate(0px,10px)">PR. SEGURIDAD</label>
                                                            <div class="form-check  float-right">
                                                                <input disabled class="form-check-input" ng-checked="isInArray(reporte.MedidasAplicadas, 'PR. SEGURIDAD')" ng-click="AddMedidas('PR. SEGURIDAD')" 
                                                                       style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2" style="border-right: 1px solid #ddd;">
                                                        <div class="form-group">
                                                            <label class="text-uppercase" style="font-size: 0.7em;transform: translate(0px,10px)">REPARACION</label>
                                                            <div class="form-check  float-right">
                                                                <input disabled class="form-check-input" ng-checked="isInArray(reporte.MedidasAplicadas, 'REPARACION')" ng-click="AddMedidas('REPARACION')" 
                                                                       style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2" style="border-right: 1px solid #ddd;">
                                                        <div class="form-group">
                                                            <label class="text-uppercase" style="font-size: 0.7em;transform: translate(0px,10px)">ASESORIO TECNICA</label>
                                                            <div class="form-check  float-right">
                                                                <input disabled class="form-check-input" ng-checked="isInArray(reporte.MedidasAplicadas, 'ASESORIO TECNICA')" ng-click="AddMedidas('ASESORIO TECNICA')" 
                                                                       style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2" style="border-right: 1px solid #ddd;">
                                                        <div class="form-group">
                                                            <label class="text-uppercase" style="font-size: 0.7em;transform: translate(0px,10px)">AJUSTES</label>
                                                            <div class="form-check  float-right">
                                                                <input disabled class="form-check-input" ng-checked="isInArray(reporte.MedidasAplicadas, 'AJUSTES')" ng-click="AddMedidas('AJUSTES')" 
                                                                       style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label class="text-uppercase" style="font-size: 0.7em;transform: translate(0px,10px)">OTROS</label>
                                                            <div class="form-check  float-right">
                                                                <input disabled class="form-check-input" ng-checked="isInArray(reporte.MedidasAplicadas, 'OTROS')" ng-click="AddMedidas('OTROS')" 
                                                                       style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row" colspan="7" class="text-center cajaTitulo">REPUESTOS, INSUMOS, MATERIALES Y/O CONSUMIBLES EMPLEADOS</th>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-center fondoCelda">CODIGO</th>
                                            <th scope="row" colspan="3" class="text-center fondoCelda">DESCRIPCIÓN</th>
                                            <th scope="row" class="text-center fondoCelda">CANTIDAD</th>
                                            <th scope="row" colspan="2" class="text-center fondoCelda">VALOR</th>
                                        </tr>
                                        <tr ng-repeat="r in reporte.Repuestos track by $index" data-container="body" data-toggle="popover" 
                                            data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                            <td ng-hide="r.EditMode">
                                                {{r.Codigo}}
                                            </td>
                                            <td colspan="3" ng-hide="r.EditMode">
                                                {{r.Descripcion}}
                                            </td>
                                            <td ng-hide="r.EditMode">
                                                {{r.Cantidad}}
                                            </td>
                                            <td colspan="2" ng-hide="r.EditMode">
                                                {{r.Valor| currency}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input readonly type="text" ng-model="repuesto.Codigo" class="form-control caja_texto">
                                            </td>
                                            <td colspan="3">
                                                <input readonly type="text" ng-model="repuesto.Descripcion" class="form-control caja_texto" ng-enter="AddRepuesto()" capitalize>
                                            </td>
                                            <td>
                                                <input readonly type="number" min="1" ng-model="repuesto.Cantidad" class="form-control caja_texto" ng-enter="AddRepuesto()">
                                            </td>
                                            <td colspan="2">
                                                <input readonly type="number" min="0" step="any" ng-model="repuesto.Valor" class="form-control caja_texto" ng-enter="AddRepuesto()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="text-align: right">
                                                TOTAL
                                            </td>
                                            <td colspan="2">
                                                {{reporte.TotalRepuesto| currency}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="7" class="text-center cajaTitulo">OBSERVACIONES</th>
                                        </tr>
                                        <tr>
                                            <td colspan="9">
                                                <textarea readonly class="form-control" rows="3"  maxlength="300" ng-model="reporte.Observaciones"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="7" class="text-center cajaTitulo">ESTADO FINAL DEL EQUIPO</th>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="padding: 0 !important">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="transform: translate(0px,10px)">EQUIPO FUNCIONANDO CORRECTAMENTE</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="isInArray(reporte.EstadoFinal, 'EQUIPO FUNCIONANDO CORRECTAMENTE')" 
                                                               ng-click="AddEstadoFinal('EQUIPO FUNCIONANDO CORRECTAMENTE')" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td  colspan="2"  style="padding: 0 !important">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="transform: translate(0px,10px)">EQUIPO EN ESPERA DE REPUESTOS</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="isInArray(reporte.EstadoFinal, 'EQUIPO EN ESPERA DE REPUESTOS')"
                                                               ng-click="AddEstadoFinal('EQUIPO EN ESPERA DE REPUESTOS')" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td  colspan="2"  style="padding: 0 !important">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="transform: translate(0px,10px)">EQUIPO FUERA DE SERVICIO</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="isInArray(reporte.EstadoFinal, 'EQUIPO FUERA DE SERVICIO')"
                                                               ng-click="AddEstadoFinal('EQUIPO FUERA DE SERVICIO')" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="padding: 0 !important">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="transform: translate(0px,10px)">EQUIPO RETIRADO DEL SERVICIO</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="isInArray(reporte.EstadoFinal, 'EQUIPO RETIRADO DEL SERVICIO')"
                                                               ng-click="AddEstadoFinal('EQUIPO RETIRADO DEL SERVICIO')" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td  colspan="2"  style="padding: 0 !important">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="transform: translate(0px,10px)">RECOMENDACION DE BAJA</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="isInArray(reporte.EstadoFinal, 'RECOMENDACION DE BAJA')"
                                                               ng-click="AddEstadoFinal('RECOMENDACION DE BAJA')" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                            <td  colspan="2"  style="padding: 0 !important">
                                                <div class="form-group">
                                                    <label class="text-uppercase" style="transform: translate(0px,10px)">EQUIPO FUERA DE RANGOS</label>
                                                    <div class="form-check  float-right">
                                                        <input disabled class="form-check-input" ng-checked="isInArray(reporte.EstadoFinal, 'EQUIPO FUERA DE RANGO')"
                                                               ng-click="AddEstadoFinal('EQUIPO FUERA DE RANGO')" 
                                                               style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="4" class="text-center cajaTitulo">TECNICO/INGENIERO RESPONSABLE</th>
                                            <th scope="row" colspan="3" class="text-center cajaTitulo">RECIBE A SATISFACCIÓN</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                NOMBRE
                                            </td>
                                            <td colspan="2">
                                                {{reporte.ResponsableNombre}}
                                            </td>
                                            <td>
                                                FECHA
                                            </td>
                                            <td>
                                                <input readonly type="text"  onfocus="(this.type = 'date')" onblur="(this.type = 'text')" ng-model="reporte.RecibeFecha" style="height: 30px" 
                                                       ng-class="{ 'has-error': Datos.reporte.RecibeFecha.$invalid && !Datos.reporte.RecibeFecha.$pristine }" 
                                                       class="form-control">
                                            </td>
                                            <td>
                                                HORA
                                            </td>
                                            <td>
                                                <input readonly type="time" ng-model="reporte.RecibeHora"
                                                       ng-class="{ 'has-error': Datos.reporte.RecibeHora.$invalid && !Datos.reporte.RecibeHora.$pristine }" 
                                                       style="height: 30px" class="form-control">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                CARGO
                                            </td>
                                            <td colspan="2">
                                                {{reporte.ResponsableCargo}}
                                            </td>
                                            <td>
                                                NOMBRE
                                            </td>
                                            <td colspan="3">
                                                <div ng-class="{'has-success': r, 'has-error': r == '--'}">
                                                    <select disabled class="form-control" ng-model="r" name="Recibe" ng-change="Recibe(r)" required ng-init="r = '--'"
                                                            style="height: 25px;padding-top: 0px;padding-bottom: 0px;">
                                                        <option>--</option>
                                                        <option ng-repeat="u in Usuarios track by $index" ng-selected="u.NombreCompleto === reporte.RecibeNombre" ng-value='{{$index}}' value='{{$index}}'> {{u.NombreCompleto}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                FIRMA
                                            </td>
                                            <td colspan="2">
                                                <img height="50" ng-src="{{reporte.ResponsableFirma}}" alt="">
                                            </td>
                                            <td>
                                                CARGO
                                            </td>
                                            <td colspan="3">
                                                {{reporte.RecibeCargo}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
