<div class="row" id="H2" style="background: white;">
  <div class="col-sm-12">
    <img src="/intranet-2/public_html/image/cield.png" id="logo-cield" style="width: 200px !important;" alt="logo-cield-hd">
  </div>
  <div class="col-sm-12 mt-5 text-center">
    <h4>CIRCULAR INTERNA No. 008</h4>
  </div>
  <div class="col-sm-12 mt-1 text-right" style="text-align: right;">
    <p>Valledupar, 21 de Abril de 2016</p>
  </div>
  <div class="col-sm-12 mt-1" style="text-align: justify;">
    <p>
      <strong>PARA:</strong>Usuarios de lineas corporativas<br>
      <strong>ASUNTO:</strong>POLITICAS DE MANEJOS DE PLAN CORPORATIVOS<br>
      Cordial saludo.
    </p>
    <br>
    <p>
      Con el fin de optimizar los costos que generan las lineas móviles corporativas, se vienen haciendo ajustes con la finalidad de bajar los costos, aprovecho la oportunidad para invitarlos a que hagan un buen uso de los minutos que tienen asignados. Por lo anterior les doy a conocer las nuevas politicas para el uso de las mismas.
    </p>
    <ol>
      <li>
        <p>
          <strong>Solicitud de Linea Nueva:</strong> Sera responsabilidad del coordinador de area el responsable de hacer la solicitud escrita a tesoreria previa autorizacion de la gerencia. (previa evaluacion de la necesidad.)
        </p>
      </li>
      <li>
        <p>
          <strong>Cambio de equipo:</strong> Aquellos equipos que tengan más de un año de uso y presenten falla de funcionamiento deben hacer la solicitud(ver punto 1). Los equipos autorizados para cambio no deben superar los $400.000, en caso de que el usuario requiera un equipo de mayor gama o costo, debera asumir la diferencia y seran descontados de nomina (acordar con RRHH). "para el cambio debe devolver el anterior".
        </p>
      </li>
      <li>
        <p>
          <strong>Reposición:</strong>Aquellos equipos que tengan menos de un año y requieran cambio deben ser entregados a Control Interno para solicitar la garantia, si el equipo pierde la garantia, la reparación debe ser asumida por el usuario asignado.
        </p>
      </li>
      <li>
        <p>
          <strong>Reposición de SimCard:</strong>La Reposición de SimCard por perdida o robo den ser asumidas por el usuario, tiene un costo aproximado de $5.000.
        </p>
      </li>
      <li>
        <p>
          <strong>Reporte SimCard por daño o perdida:</strong>Es responsabilidad del usuario reportar la sim al *611 de CLARO, posteriormente notificar a Control Interno para hacer la reposición.
        </p>
      </li>
      <li>
        <p>
          <strong>Perdida de Equipo:</strong>Los equipos reportados por perdido o robo, los costos seran asumidos por el usuario.
        </p>
      </li>
      <li>
        <p>
          <strong>Entrega o Devolución de equipo:</strong>El equipo debe ser devuelto en buenas condiciones de uso, sin estar reportado en ningun operdor, con sus accesorios y sin tener la pantalla partida.
        </p>
      </li>
    </ol>
    <br>
    <p>
      <strong>NOTA:</strong> Todos los planes cuentan con llamadas ilimitadas a todas las lineas empresariales, Whatsapp ilimitada, plan basico de datos.
    </p>
    <br>
    <p>
      "LA CLINICA INTEGRAL DE EMERGENCIAS LAURA DANIELA hace un esfuerzo significativo en la adquisición de lineas corportivas con el fin de permitirle a todos los coordinadores hacer una mejor gestión de las funciones que cumple a diario en la institución, por lo anterior los invitamos a hacer buen uso de esta herramienta de trabajo", les solicitamos no utilizar las lineas para operaciones de tipo personal como por ejemplo registrar la linea en entidades dinancieras,
    </p>
  </div>
  <div class="col-sm-12 mt-2">
    Cordialmente
    <br>
    <br>
    ______________________
  </div>
</div>