<div ng-controller="SolicitudTELCtrl">
  <div class="row">
      <div class="col-sm-12">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h2>Solicitudes<small></small></h2>
                  <div class="ibox-tools" style="transform: translateX(-50px);">
                      <ul class="nav navbar-right" style="color:black;">
                          <li>
                              <input type="text" ng-model='Year' ng-enter="GetSolicitudes()" class="form-control" onfocus="(this.type = 'number')" onblur="(this.type = 'text')"/>
                          </li>
                      </ul>
                  </div>
                  <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-primary" ng-if="!NSOL && !VSOL" ng-click="NewSOL()">Nueva Solicitud</button>
                    <button class="btn btn-default" ng-if="NSOL || VSOL" ng-click="Atras()">Atras</button>
                    <button class="btn btn-success" ng-if="NSOL" ng-click="CrearSOL()">
                      <span ng-hide="IsLoading">Crear Solicitud</span>
                      <i class="fa fa-spinner fa-spin" ng-show="IsLoading"></i>
                    </button>
                  </div>
                </div>
                  <div class="row" ng-if="LSOL && !NSOL && !VSOL">
                      <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                          <table id="LHD" ui-jq="dataTable" ui-options="SolDATA" class="table table-hover table-condensed table-striped table-bordered">
                              <thead class="bordered-blueberry">
                                  <tr>
                                      <th scope="col" class="text-center" style="width: 3%">ID</th>
                                      <th scope="col" class="text-center" style="width: 5%">Fecha</th>
                                      <th scope="col" class="text-center" style="width: 7%">Solicita</th>
                                      <th scope="col" class="text-center" style="width: 7%">Telefono</th>
                                      <th scope="col" class="text-center" style="width: 7%">Posicion (Lista de espera)</th>
                                      <th scope="col" class="text-center" style="width: 5%">Estado</th>
                                      <th scope="col" class="text-center" style="width: 15%">Opciones</th>
                                  </tr>
                              </thead>
                              <tbody></tbody>
                          </table>
                      </div>
                  </div>
                  <div ng-show="NSOL">
                    <form role="form" name="Datos" novalidate>
                      <div class="row">
                        <div class="col-sm-12">
                          <div ng-class="{'has-success': Datos.Fecha.$valid, 'has-error': Datos.Fecha.$invalid}">
                            <label for="Fecha">Fecha de solicitud</label>
                            <input type="text" class="form-control" ng-model="Sol.Fecha" name="Fecha"
                            onfocus="(this.type = 'datetime-local')" onblur="(this.type = 'text')" disabled />
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div ng-class="{'has-success': Datos.Linea.$valid, 'has-error': Datos.Linea.$invalid}">
                            <label for="Linea">Lineas</label>
                            <select class="form-control" ng-model="LineaSeleccionada" ng-change="ChangeLinea()"
                              style="height: 35.59px !important;">
                              <option value="">--</option>
                              <option ng-repeat="t in Telefonos track by $index" ng-value="'{{$index}}'">{{t.Responsable}} - {{t.Telefono}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="row">
                            <div class="col-sm-12">
                              <label>Responsable</label>
                              <input type="text" class="form-control" ng-model="Responsable"disabled />
                            </div>
                            <div class="col-sm-12">
                              <label>Linea</label>
                              <input type="text" class="form-control" ng-model="Telefono"disabled />
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div ng-class="{ 'has-success': Datos.DescripcionDano.$valid, 'has-error': Datos.DescripcionDano.$invalid }">
                            <label for="DescripcionDano">Descripción del daño</label>
                            <textarea type="text" class="form-control" ng-model="Sol.DescripcionDano" maxlength="200" name="DescripcionDano" required></textarea>
                          </div>
                        </div>
                        <div class="col-sm-12" style="margin-bottom: 40px">
                            <strong>Imagen:</strong>
                            <div class="row">
                              <div class="col-sm-4">
                                  <img ng-src="{{Sol.Fotos.data}}" style="height: 150px; max-height: 150px; width: 150px" alt="">
                              </div>
                            </div>
                            <input type="file" ng-model="Sol.Fotos" ng-file-model="Sol.Fotos" class="form-control"/>
                        </div>
                        <div class="col-sm-12" ng-if="HT">
                          <hr>
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Fecha</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Color</th>
                                <th>IMEI1</th>
                                <th>IMEI2</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="h in Historial">
                                <td>{{h.Fecha}}</td>
                                <td>{{h.Marca}}</td>
                                <td>{{h.Modelo}}</td>
                                <td>{{h.Color}}</td>
                                <td>{{h.IMEI1}}</td>
                                <td>{{h.IMEI2}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </form>
                  </div>
                  <ng-include ng-if="VSOL" src="'/intranet-2/public_html/views/tel/VS.html'"></ng-include>
              </div>
          </div>
      </div>
  </div>
</div>