<div class="row mt-2 mb-2" ng-controller="SolNewEventoCtrl">
    <div class="col-sm-12">
        <button type="button" class="btn btn-success" ng-click="CreateEvento()">
            Crear Evento
        </button>
    </div>
    <div class="col-sm-12">
        <form role="form" name="DatoEvento" novalidate id="new-evento-form">
            <div class="row">
                <div class="col-sm-12">
                    <label >Tipo de evento</label>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="float-left" style="transform: translate(0px,10px)">FINALIZAR SOLICITUD</label>
                            <div class="form-check float-right">
                                <input class="form-check-input" ng-checked="EventoSol.TipoEvento === 'Fin de la solicitud'"
                                       ng-click="SetTipoEvento('Fin de la solicitud')" 
                                       style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="float-left" style="transform: translate(0px,10px)">CANCELAR SOLICITUD</label>
                            <div class="form-check float-right">
                                <input class="form-check-input" ng-checked="EventoSol.TipoEvento === 'Cancelar solicitud'"
                                       ng-click="SetTipoEvento('Cancelar solicitud')" 
                                       style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label for="Descripcion">Descripción</label>
                    <div ng-class="{'has-success': DatoEvento.Descripcion.$valid, 'has-error': DatoEvento.Descripcion.$invalid}">
                        <textarea name="Descripcion" ng-model="EventoSol.Descripcion" class="form-control"
                                  required
                                  ng-minlength="3"
                                  ng-maxlength="500"
                                  maxlength="500"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
