<div ng-controller="GestionPermisoCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Listado de permisos<small></small></h2>
                    <div class="ibox-tools" style="transform: translateX(-50px);">
                        <ul class="nav navbar-right" style="color:black;">
                            <li>
                                <select class="form-control" ng-model="Mes" ng-change="GetPermisos()" style="height: 35.59px !important;">
                                    <option ng-selected="Mes == 1" ng-value="'1'" value='1'> Enero</option>
                                    <option ng-selected="Mes == 2" ng-value="'2'" value='2'> Febrero</option>
                                    <option ng-selected="Mes == 3" ng-value="'3'" value='3'> Marzo</option>
                                    <option ng-selected="Mes == 4" ng-value="'4'" value='4'> Abril</option>
                                    <option ng-selected="Mes == 5" ng-value="'5'" value='5'> Mayo</option>
                                    <option ng-selected="Mes == 6" ng-value="'6'" value='6'> Junio</option>
                                    <option ng-selected="Mes == 7" ng-value="'7'" value='7'> Julio</option>
                                    <option ng-selected="Mes == 8" ng-value="'8'" value='8'> Agosto</option>
                                    <option ng-selected="Mes == 9" ng-value="'9'" value='9'> Septiembre</option>
                                    <option ng-selected="Mes == 10" ng-value="'10'" value='10'> Octubre</option>
                                    <option ng-selected="Mes == 11" ng-value="'11'" value='11'> Noviembre</option>
                                    <option ng-selected="Mes == 12" ng-value="'12'" value='12'> Diciembre</option>
                                </select>
                            </li>
                            <li>
                                <input type="text" ng-model='Year' ng-enter="GetPermisos()"  class="form-control"/>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" ng-click="OpenCrearModal()">Crear Permiso</button>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="cargado">
                            <table id="Equipos" ui-jq="dataTable" ui-options="simpleTableOptions" class="table table-hover table-condensed table-striped table-bordered">
                                <thead class="bordered-blueberry">
                                    <tr>
                                        <th class="text-center" style="width: 3%">ID</th>
                                        <th class="text-center" style="width: 10%">Fecha de emisión</th>
                                        <th class="text-center" style="width: 30%">Funcionario</th>
                                        <th class="text-center" style="width: 10%">Motivo</th>
                                        <th class="text-center" style="width: 15%">¿Cual?</th>
                                        <th class="text-center" style="width: 10%">Hora Inicio</th>
                                        <th class="text-center" style="width: 10%">Hora Fin</th>
                                        <th class="text-center" style="width: 5%">VB gestión humana</th>
                                        <th class="text-center" style="width: 90%">Consumido?</th>
                                        <th class="text-center" style="width: 5%">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="PermisoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm-11">
                        <h2 class="modal-title">Crear Permiso</h2>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <form role="form" name="Datos" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-12" ng-class="{'has-success': Datos.PersonaId.$valid, 'has-error': Datos.PersonaId.$invalid}">
                                        <label style="font-weight: bold;">
                                            Funcionario
                                        </label>
                                        <select class="form-control" ng-model="Permiso.PersonaId" name="PersonaId" ng-options="p.PersonaId as (p.PrimerNombre +       ' ' +       p.PrimerApellido +       ' ' +       p.SegundoApellido) for p in Personas"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" ng-class="{'has-success': Datos.Motivo.$valid, 'has-error': Datos.Motivo.$invalid}">
                                        <label style="font-weight: bold;">
                                            Motivo
                                        </label>
                                        <div class="row">
                                            <!--                                            <div class="form-group col-lg-4 col-sm-4">
                                                                                            <label class="text-uppercase" style="font-size: 0.8em; transform: translate(0px,10px)">Cita Médica</label>
                                                                                            <div class="form-check float-right">
                                                                                                <input class="form-check-input" ng-checked="Permiso.Motivo == 'Cita Médica'" ng-click="Permiso.Motivo = 'Cita Médica';Permiso.Otro = false" 
                                                                                                       style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                                                            </div>
                                                                                        </div>-->
                                            <div class="form-group col-lg-4 col-sm-4">
                                                <label class="text-uppercase" style="font-size: 0.8em; transform: translate(0px,10px)">Laboral</label>
                                                <div class="form-check float-right">
                                                    <input class="form-check-input" ng-checked="Permiso.Motivo == 'Laboral'" ng-click="Permiso.Motivo = 'Laboral';Permiso.Otro = false" 
                                                           style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-4 col-sm-4">
                                                <label class="text-uppercase" style="font-size: 0.8em; transform: translate(0px,10px)">Personal</label>
                                                <div class="form-check float-right">
                                                    <input class="form-check-input" ng-checked="Permiso.Motivo == 'Personal'" ng-click="Permiso.Otro = true; Permiso.Motivo = 'Personal'" 
                                                           style="width: 20px;height: 20px;transform: translate(0px,5px);" type="checkbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12" ng-class="{'has-success': Datos.Cual.$valid, 'has-error': Datos.Cual.$invalid}">
                                                <label style="font-weight: bold;">¿Cual?</label>
                                                <input class="form-control"  ng-model="Permiso.Cual" name="Cual" minlength="3" maxlength="50" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12" ng-class="{'has-success': Datos.FechaInicio.$valid, 'has-error': Datos.FechaInicio.$invalid}">
                                        <label style="font-weight: bold;">
                                            Desde
                                        </label>
                                        <div class="input-group"
                                             moment-picker="Permiso.FechaInicio"
                                             format="YYYY-MM-DD HH:mm:ss" 
                                             min-date="FechaMin"
                                             min-view="month"
                                             max-view="day"
                                             change="CambiaFechaInicio()"
                                             locale="es">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input class="form-control"
                                                   placeholder="Seleccionar una fecha"
                                                   ng-model="Permiso.FechaInicio"
                                                   ng-model-options="{updateOn: 'blur'}">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12" ng-class="{'has-success': Datos.FechaFin.$valid, 'has-error': Datos.FechaFin.$invalid}">
                                        <label style="font-weight: bold;">
                                            Hasta
                                        </label>
                                        <div class="input-group"
                                             moment-picker="Permiso.FechaFin"
                                             format="YYYY-MM-DD HH:mm:ss" 
                                             min-date="Permiso.FechaInicio" 
                                             max-date="FechaMax"
                                             min-view="month"
                                             max-view="day"
                                             locale="es">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input class="form-control"
                                                   placeholder="Seleccionar una fecha"
                                                   ng-model="Permiso.FechaFin"
                                                   ng-model-options="{updateOn: 'blur'}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <div class="text-center col-sm-12" style="margin-top: 25px;">
                        <button class="btn btn-success" ng-click="CrearPermiso()">Crear Permiso</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>