<!--                                        
Desarrollado por Franklin Ospino
    mi correo es... ospi89@hotmail.com
-->
<div class="col-sm-12" ng-controller="VerCunaExtCtrl">
    <div class="col-sm-4 col-sm-offset-4">
        <!--<button onclick="vxgplayer('vxg_media_player1').src(document.getElementById('url_input').value);">Set</button>-->
        <div style="height: 480px !important; width: 640px !important;" id="vxg_media_player_3" class="vxgplayer" aspect-ratio latency="3000000" controls avsync></div>
    </div>
    <div class="col-sm-12">
        <p class="text-center" style="font-size: 0.9em">En caso de presentar algun problema, puede solicitar soporte escribiendo a este correo electronico. <a href="mailto:developer@clinicaintegral.com.co">developer@clinicaintegral.com.co</a></p>
    </div>
    
</div>