<div id="tabla_listReportes" class="row" ng-controller="RondasCtrl">
    <div class="col-sm-12" ng-if="cargado">
        <table id="Historias" ui-jq="dataTable" ui-options="simpleTableOptions" class="table table-hover table-condensed table-striped table-bordered">
            <thead class="bordered-blueberry">
                <tr>
                    <th class="text-center" style="width: 4%">ID</th>
                    <th class="text-center" style="width: 2%">Sede</th>
                    <th class="text-center" style="width: 2%">Servicio</th>
                    <th class="text-center" style="width: 5%">Nombre Jefe</th>
                    <th class="text-center" style="width: 5%">Observaciones</th>
                    <th class="text-center" style="width: 5%">Realizo</th>
                    <th class="text-center" style="width: 5%">Fecha</th>
                    <th class="text-center" style="width: 5%">Estado</th>
                    <th class="text-center" style="width: 5%">Opciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
